# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  # Enable version updates for npm
  - package-ecosystem: npm
    # Look for `package.json` and `lock` files in the `root` directory
    directory: /
    # Check the npm registry for updates friday
    schedule:
      interval: weekly
      day: friday
      time: "15:00"
      # Use CET
      timezone: Europe/Berlin
    target-branch: develop
    labels:
      - dependency
    assignees:
      - maxileith
    commit-message:
      # Prefix all commit messages with "npm: "
      prefix: npm
    versioning-strategy: increase
    groups:
      typescript-eslint:
        patterns:
          - "@typescript-eslint/*"
      md5:
        patterns:
          - "@types/md5"
          - "md5"
    # ignore:
    #   - dependency-name: "@types/node"
    #     update-types: ["version-update:semver-major"]

  # Enable version updates for pip
  - package-ecosystem: pip
    # Look for a `requirements.txt` in the `root` directory
    directory: /python_requirements/default
    # Check the npm registry for updates friday
    schedule:
      interval: weekly
      day: friday
      time: "15:00"
      # Use CET
      timezone: Europe/Berlin
    target-branch: develop
    labels:
      - dependency
    assignees:
      - maxileith
    commit-message:
      # Prefix all commit messages with "pip: "
      prefix: pip
    versioning-strategy: increase
    groups:
      pydantic:
        patterns:
          - "pydantic"
          - "pydantic_core"
          - "pydantic-core"
      crypt:
        patterns:
          - "cryptography"
          - "chacha20poly1305-reuseable"

  # Enable version updates for GitHub Actions
  - package-ecosystem: github-actions
    directory: /
    # Check the npm registry for updates friday
    schedule:
      interval: weekly
      day: friday
      time: "15:00"
      # Use CET
      timezone: Europe/Berlin
    assignees:
      - maxileith
    commit-message:
      # Prefix all commit messages with "ci: "
      prefix: "ci"

  # Enable version updates for pip
  - package-ecosystem: pip
    # Look for a `requirements.txt` in the `root` directory
    directory: .github/issue_completeness_check/
    # Check the npm registry for updates friday
    schedule:
      interval: weekly
      day: friday
      time: "15:00"
      # Use CET
      timezone: Europe/Berlin
    target-branch: develop
    labels:
      - dependency
    assignees:
      - maxileith
    commit-message:
      # Prefix all commit messages with "pip: "
      prefix: pip (ici)
    versioning-strategy: increase
