{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended" // uses the recommended rules from the @typescript-eslint/eslint-plugin
    ],
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "ignorePatterns": ["dist"],
    "rules": {
        "brace-style": "off",
        "indent": ["error", 4],
        "lines-between-class-members": [
            "warn",
            "always",
            { "exceptAfterSingleLine": true }
        ],
        "comma-dangle": ["warn", "always-multiline"],
        "comma-spacing": ["error"],
        "curly": ["warn", "all"],
        "eqeqeq": "warn",
        "default-param-last": "off",
        "dot-notation": "off",
        "init-declarations": "off",
        "prefer-arrow-callback": ["warn"],
        "max-len": ["warn", 140],
        "no-console": ["warn"], // use the provided Homebridge log method instead
        "no-empty-function": "off",
        "no-implied-eval": "off",
        "no-non-null-assertion": ["off"],
        "no-multi-spaces": ["warn", { "ignoreEOLComments": true }],
        "no-trailing-spaces": ["warn"],
        "no-throw-literal": "off",
        "no-useless-constructor": "off",
        "quotes": ["warn", "single"],
        "semi": ["off"],
        "@typescript-eslint/typedef": [
            "warn",
            {
                "arrayDestructuring": true,
                "variableDeclaration": true,
                "variableDeclarationIgnoreFunction": true
            }
        ],
        "@typescript-eslint/array-type": "warn",
        "@typescript-eslint/ban-types": "error",
        "@typescript-eslint/brace-style": "warn",
        "@typescript-eslint/class-literal-property-style": "error",
        "@typescript-eslint/consistent-generic-constructors": "error",
        "@typescript-eslint/consistent-indexed-object-style": "error",
        "@typescript-eslint/consistent-type-assertions": "error",
        "@typescript-eslint/consistent-type-definitions": "error",
        "@typescript-eslint/consistent-type-imports": "warn",
        "@typescript-eslint/default-param-last": "error",
        "@typescript-eslint/explicit-function-return-type": "error",
        "@typescript-eslint/explicit-member-accessibility": "error",
        "@typescript-eslint/explicit-module-boundary-types": "error",
        "@typescript-eslint/init-declarations": "error",
        "@typescript-eslint/member-ordering": "warn",
        "@typescript-eslint/method-signature-style": "warn",
        "@typescript-eslint/no-array-constructor": "warn",
        "@typescript-eslint/no-confusing-non-null-assertion": "error",
        "@typescript-eslint/no-duplicate-enum-values": "warn",
        "@typescript-eslint/no-dynamic-delete": "error",
        "@typescript-eslint/no-empty-function": "warn",
        "@typescript-eslint/no-empty-interface": "warn",
        "@typescript-eslint/no-explicit-any": "warn",
        "@typescript-eslint/no-extra-non-null-assertion": "error",
        "@typescript-eslint/no-extraneous-class": "error",
        "@typescript-eslint/no-invalid-void-type": "warn",
        "@typescript-eslint/no-import-type-side-effects": "error",
        "@typescript-eslint/no-misused-new": "warn",
        "@typescript-eslint/no-namespace": "warn",
        "@typescript-eslint/no-non-null-asserted-nullish-coalescing": "error",
        "@typescript-eslint/no-non-null-asserted-optional-chain": "error",
        "@typescript-eslint/no-require-imports": "error",
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/no-this-alias": "error",
        "@typescript-eslint/no-unsafe-declaration-merging": "error",
        "@typescript-eslint/no-useless-constructor": "warn",
        "@typescript-eslint/no-useless-empty-export": "warn",
        "@typescript-eslint/no-var-requires": "error",
        "@typescript-eslint/prefer-enum-initializers": "error",
        "@typescript-eslint/prefer-for-of": "warn",
        "@typescript-eslint/prefer-function-type": "error",
        "@typescript-eslint/sort-type-constituents": "warn",
        "@typescript-eslint/unified-signatures": "warn",
        "@typescript-eslint/semi": ["warn"],
        "@typescript-eslint/member-delimiter-style": ["warn"]
    }
}
