aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
annotated-types==0.7.0
async-timeout==5.0.1
attrs==25.3.0
certifi==2025.7.14
cffi==1.17.1
chacha20poly1305-reuseable==0.13.2
charset-normalizer==3.4.2
cryptography==46.0.3
frozenlist==1.7.0
idna==3.10
ifaddr==0.2.0
miniaudio==1.61
multidict==6.6.3
propcache==0.3.2
protobuf==5.29.5
pyatv==0.16.0
pycparser==2.22
pydantic==2.11.7
pydantic_core==2.33.2
requests==2.32.4
six==1.17.0
srptools==1.0.1
tabulate==0.9.0
tinytag==2.1.1
typing-inspection==0.4.1
typing_extensions==4.15.0
urllib3==2.5.0
yarl==1.20.1
zeroconf==0.147.0
